@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  scroll-behavior: smooth !important;
}

/* It makes the HTML progress bar filling smooth when value change. */
progress::-webkit-progress-value {
  transition: 0.6s width ease-out;
}

@layer base {
  .btn-gradient {
    @apply !bg-gradient !bg-[length:300%_300%] hover:saturate-[1.2] shadow duration-100 !border-0 !border-transparent !bg-transparent animate-shimmer disabled:!bg-none disabled:!bg-gray-500/30  !text-white;
  }
  .btn {
    @apply !capitalize;
  }
}

/* Extend DaisyUI button with your own style */
.btn-fortuneok {
@apply btn text-black; /* inherit DaisyUI btn styles */
  background-color: #a9ff68;
  border-color: #a9ff68;
}

.btn-fortuneok:hover {
  background-color: #93e658; /* slightly darker for hover */
  border-color: #93e658;
}
